{{ template "header.tmpl" . }}

{{ define "title" }}Device Management - DINGUS{{ end }}

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <!-- Toast content -->
</div>

<div class="container mt-5 bg-dark text-white p-4 rounded">
    <h2 class="mb-4 text-center">Device Management</h2>
    <form id="deviceManagementForm" action="/api/updateDeviceAssignments" method="POST">
        <div class="table-responsive">
            <table class="table table-dark table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Device IP</th>
                        <th>Training Label</th>
                    </tr>
                </thead>
                <tbody id="deviceList">
                    {{range .Devices}}
                    <tr>
                        <td>{{.}}</td>
                        <td>
                            <select name="{{.}}" class="form-control bg-secondary text-white">
                                <option value="" class="bg-dark text-white">Select Training</option>
                                {{range $.Trainings}}
                                <option value="{{.}}" class="bg-dark text-white">{{.}}</option>
                                {{end}}
                            </select>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
</div>

<script src="/js/deviceManagement.js"></script>

{{ template "footer.tmpl" . }}