<!DOCTYPE html>
<html>
    <head>
        <title>Access Forbidden</title>
    </head>
    <body>
        <img alt="You didn't say the magic word. Naughty, naughty." width="500" height="300" src="/assets/magicword.gif">
    </body>
</html>